# Ignore hidden files
.directory

# build directory
build/

# backup files
*.qml~
*.js~
*.xml~
*.sh~
*.desktop~
*.kate-swp
.~*

.~*.txt
.~*.h
.~*.cpp

.*.qml~
.*.js~
.*.xml~
.*.txt~

.*.h~
.*.cpp~
.*.ui~
.*.pot~
.*.kcfg~
.*.kcfgc~
*.gitignore~

# mo files
*.mo

# KDevelop Project files
*.kdev4
.kdev4/
