[Desktop Entry]
Name=PlayBar provider
Icon=media-playback-start
Comment=Adds support for keyboard shortcuts and provide others services
Type=Service

X-KDE-Library=plasma_engine_playbar
X-KDE-ServiceTypes=Plasma/DataEngine
X-Plasma-EngineName=playbarengine

X-KDE-PluginInfo-Author=Smith AR
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=audoban@openmailbox.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-Name=playbarengine
X-KDE-PluginInfo-Version=0.7
X-KDE-PluginInfo-Website=https://github.com/audoban/PlayBar

#X-KDE-ParentApp=PlayBar
