[Desktop Entry]
Name=PlayBar global shortcuts
Name[ast]=PlayBar global shortcuts
Name[bg]=PlayBar global shortcuts
Name[bs]=PlayBar global shortcuts
Name[ca]=PlayBar global shortcuts
Name[ca@valencia]=PlayBar global shortcuts
Name[cs]=PlayBar global shortcuts
Name[da]=PlayBar global shortcuts
Name[de]=PlayBar global shortcuts
Name[el]=PlayBar global shortcuts
Name[en_GB]=PlayBar global shortcuts
Name[eo]=PlayBar global shortcuts
Name[es]=Accesos rápidos globales de PlayBar
Name[et]=PlayBar global shortcuts
Name[fi]=PlayBar global shortcuts
Name[fr]=PlayBar global shortcuts
Name[ga]=PlayBar global shortcuts
Name[gl]=PlayBar global shortcuts
Name[hu]=PlayBar global shortcuts
Name[it]=PlayBar global shortcuts
Name[ja]=PlayBar global shortcuts
Name[kk]=PlayBar global shortcuts
Name[km]=PlayBar global shortcuts
Name[ko]=PlayBar global shortcuts
Name[lt]=PlayBar global shortcuts
Name[lv]=PlayBar global shortcuts
Name[nb]=PlayBar global shortcuts
Name[nds]=PlayBar global shortcuts
Name[nl]=PlayBar global shortcuts
Name[nn]=PlayBar global shortcuts
Name[pa]=PlayBar global shortcuts
Name[pl]=PlayBar global shortcuts
Name[pt]=PlayBar global shortcuts
Name[pt_BR]=PlayBar global shortcuts
Name[ro]=PlayBar global shortcuts
Name[ru]=PlayBar global shortcuts
Name[sk]=PlayBar global shortcuts
Name[sl]=PlayBar global shortcuts
Name[sq]=PlayBar global shortcuts
Name[sr]=PlayBar global shortcuts
Name[sr@ijekavian]=PlayBar global shortcuts
Name[sr@ijekavianlatin]=PlayBar global shortcuts
Name[sr@latin]=PlayBar global shortcuts
Name[sv]=PlayBar global shortcuts
Name[tr]=PlayBar global shortcuts
Name[ug]=PlayBar global shortcuts
Name[uk]=PlayBar global shortcuts
Name[x-test]=xxPlayBar global shortcutsxx
Name[zh_CN]=PlayBar global shortcuts
Name[zh_TW]=PlayBar global shortcuts
Comment=A Simple KDE Application
Comment[bs]=
Comment[ca]=
Comment[ca@valencia]=
Comment[cs]=
Comment[da]=
Comment[de]=
Comment[el]=
Comment[es]=Accesos rápidos de teclado para PlayBar
Comment[et]=
Comment[fi]=
Comment[fr]=
Comment[ga]=
Comment[gl]=
Comment[hu]=
Comment[it]=
Comment[kk]=
Comment[ko]=
Comment[lt]=
Comment[nb]=
Comment[nl]=
Comment[pa]=
Comment[pl]=
Comment[pt]=
Comment[pt_BR]=
Comment[ru]=
Comment[sk]=
Comment[sl]=
Comment[sr]=
Comment[sr@ijekavian]=
Comment[sr@ijekavianlatin]=
Comment[sr@latin]=
Comment[sv]=
Comment[tr]=
Comment[uk]=
Comment[x-test]=
Comment[zh_CN]=
Comment[zh_TW]=

Exec=kcmshell4 kcm_playbarshortcuts
Icon=preferences-desktop-keyboard-shortcuts
Type=Service
Categories=Qt;KDE;X-KDE-settings-accessibility
#X-KDE-System-Settings-Category=shortcuts-and-gestures
#X-KDE-ParentApp=kcontrol
#X-KDE-System-Settings-Parent-Category=shortcuts-and-gestures
X-KDE-ServiceTypes=KCModule
X-KDE-Keywords=playbar;play;shortcuts;global
X-KDE-Library=kcm_playbarshortcuts
X-DocPath=kcm_playbarshortcuts/index.html
